body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.contenedorTarjeta{

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 500px;
    border-radius: 5px;
}

.img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.h2{
    margin-top: 0;

}

.contenedorBoton{
    display: flex;
    justify-content: center;
    align-items: center;

}
.botonTarjeta{
    width: 150px;
    height: 40px;
    background-color: #6D5ACF;
    border: none;
    color: white;
    border-radius: 5px;
}